@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content_box{  
    height: 80px;
    width: 100%;
    font-size: 2rem;
    font-family: 'BBTreeGR';
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 850px;
    }
.EDMS_new_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin-left: 10%;
    margin-right: 10%;
    min-width: 850px;
}
        
.basic_setting{
    font-weight: bold;
    font-family: 'BBTreeGR';
    padding: 15px;
    margin: 35px 0 20px;
}
.table_box_fir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.basic_setting table tr td{
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(224, 222, 222);
}
.table_bg{
    background-color: rgb(202, 199, 199);
}
#type_select{
     border: 0;
}
#type_select:focus{
      outline: none;
}
.table_box_sec{
    display: flex;
    flex-direction: row;
}
.table_size{
    width: 20% !important;
}
#EDMS_money_table_size{
    width: 85%;
    text-align: right;
}
#btn_bg{
    font-family: 'BBTreeGR';
    font-weight: bold;
    font-size: 0.9rem;
    height: 30px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    color: dimgray;
    border: 2px solid dimgray;
    cursor: pointer;
}
#btn_bg:hover{
    background-color:rgb(13, 110, 253);
    border: 2px solid rgb(13, 110, 253);
    color: white;
    transition: 0.3s;
}
#approval_info{
    margin-top : 30px;
    margin-left: 15%;
    margin-right: 15%;
    width: 145%;
    height: 200px;
}

.docu_input_box{
    font-weight: bold;
    font-family: 'BBTreeGR';
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.docu_input_icon{
    font-size: 1.5rem;
    display:flex;
    justify-content: right;
    margin-right: 5%;
}
.docu_input_icon i{
    margin-left: 10px;
}
.docu_input_icon i:hover{
        color:rgb(13, 110, 253);
        transition: 0.3s;
        cursor: pointer;
}
.input_table{
    width: 90%;
}
.input_table_size{
    height: 100px;
}
.input_table_size :nth-child(1){
    width: 20%;
    font-size: 2rem;
}
.table_box_thr{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-top : 10px;
}
.input_table tr td{
    border: 2px solid black;
    height: 35px;
}
.input_table input[type=text]{
    width: 95%;
    float: left;
    margin-left: 5px;   
}
.EDMS_new_impor_position div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.EDMS_new_impor{
    background-color: gray;
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 45px;
    height: 20px;
    position: relative;
    
}
.EDMS_new_impor_btn{
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position:absolute;
    left: 1px;
}

.EDMS_new_api{
    margin-top : 5px;
    border: 2px solid black;
    height: 50%;
    min-height: 300px;
    color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}


.EDMS_btn{
    display:flex;
    align-items: center;
    justify-content: center;
}

.EDMS_input_btn{
    margin : 20px 10px 50px;
    border-radius: 30px;
    width: 80px;
    height: 35px;
    font-family: 'BBTreeGR';
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid black;
}
.EDMS_approval:hover{
    background-color: rgb(13, 110, 253);
    color: white;
    border: 2px solid rgb(13, 110, 253);
}
.EDMS_cancel:hover{
    background-color: gray;
    color: white;
    border: 2px solid gray;
}
