/* div {
    border: 1px solid red;
} */


.content_box{
    height: 80px;
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.admin_login_history {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.admin_login_history .search {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}





.admin_login_history .office_map_btn {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.125);
}
.admin_login_history .office_map_btn a{
    text-decoration: none;
    color: black;
}



.admin_login_history .search span {
    margin: 0 5px 0 5px;
    font-size: .8rem;
}

.admin_login_history .search select,input {
    width: 100px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: .5rem;
    cursor: default;
}

.admin_login_history .search input:focus {
    background-color: rgba(0, 0, 0, 0.061);
}

.admin_login_history .search i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.18);
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}


.admin_login_history .history_list {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.admin_login_history .history_list table {
    width: 100%;
    text-align: center;

}

.admin_login_history .history_list table tr,td{
    border: 1px solid rgba(128, 128, 128, 0.456);
}

.admin_login_history .history_list table thead td{
    border: 1px solid rgba(128, 128, 128, 0.456);
    height: 30px;
}


.admin_login_history .details_btn {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.admin_login_history .details_btn button{
    width: 50px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.149);
}

.admin_login_history .details_btn .btn_delete{
    color: red;
}